@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:300,400,700|Roboto:100,300,400,500,700,900');
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 0px;
}


a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
    /* margin: 15px 0; */
}

ul {
  padding-left: 30px;
}
#todo-filter{
	 display: block;
}
li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}

.headerApp{
  width: 100%;
  padding: 10px 30px;
  background: #164658;
}

.headerApp h1{
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}


.headerApp h1 span{
  font-weight: 500;
}


