#playground{
	margin-top: 0px;
}

.debug{
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.todo-filter {
	margin-bottom: 25px;
}

.todo-filter>li>a{
	padding: 8px 12px;
	font-size: 12px;
}

#todoAdd {
	margin-left: 40px;
}

.todoField{
	padding-left: 5px;
	font-size: 20px;
	width:80%;
	float:left;
}

#newTodoField{
	margin: 20px;
	width: 75%;
}

.newTodoCatalogField, .newTodoCatalogField:focus{
	margin-bottom: 5px;
	margin-left: 30px;
	padding: 10px 40px 10px 20px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	color: #f1f1f1;
	width: 100%;
	float: left;
	background: rgba(0,0,0,0.2);
	border: none;
	outline: none;
}

.btnAddUser{
	position: relative;
	left: 0px;
	background: rgba(0,0,0,0.5);
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	padding: 11px 10px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 7px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

#todoSubmit{
	margin-top: -5px;
}

.todoTask{
	margin-bottom: 20px;
}

.todoName{
	font-size: 20px;
	border-bottom: 1px lightgray solid;
	padding-bottom:5px;
}

.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}
.row{
	padding: 0px;
	margin: 0px;
}
.usersBox, .tasksBox{
	height: 100vh;
	margin: 0px;
}

.usersBox{
	background-color: #4d384b;
	padding: 0px;
}
.usersBox h2{
	color: #ffffff;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	letter-spacing: 2px;
	border: none;
	padding: 30px 30px;
	margin: 0px;
}

.tasksBox{
	padding: 40px;
}
ul{
	list-style-type: none;
	padding-left: 0px !important;
	margin: 0px;
}
.taskItem{
	background: #f7f7f7;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	box-shadow: 0px 22px 30px -20px rgba(0, 0, 0, 0.4);
	border: 1px solid #dddddd;
	transition: all ease-in-out .1s;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.taskItem.completed {
	opacity: 0.4;
	background-color: rgba(156, 195, 181, 0.4);
	border: 0px solid #98ce9c7a;
	box-shadow: none;
	text-decoration: line-through;
}

.checkboxCompleted{
	margin-right: 15px !important;
}

.list-group-item{
	margin-left: 30px;
	background: transparent;
	border: none;
	color: #ffffff;
	border-radius: 0px !important;
	padding: 8px 15px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	z-index: 2;
	color: #fff;
	background-color: #81ad98;
	border-color: #81ad98;
}

a.list-group-item{
	color: rgba(255, 255, 255, 0.692);
	letter-spacing: 2px;
}

.inputAddUserBox{
	width: 100%;
	display: block;
}

.input-group-btn{
	position: absolute;
}

.searchTask, .searchTask:focus{
	padding-left: 50px;
	outline: none;
	border: none;
	box-shadow: none;
	background-color: #f1f1f1;
}

.btnSearchTask, .btnSearchTask:focus{
	border: none;
	background-color: #607d8b;
	cursor: pointer;
	color: #ffffff;
	outline: none;
	box-shadow: none;
}

.btnSearchTask:hover{
	background-color: #456372;
	color: #ffffff;
	cursor: pointer;
}

.btnSearchTask span{
	cursor: pointer;
}

.addTaskBox{
	display: table;
}

.todoField{
	font-size: 13px;
	padding: 10px 20px;
	width: calc(100% - 57px);
}

.col-xs-12, .col-xs-12{
	padding: 0px;
}